@charset "UTF-8";
/* CSS Document */

@media only screen and (min-width:650px) and (max-width:999px){

.header{width:100%; background-image:images/backgroundimage.jpg;}

.container{
	width: 90%;
	
}

#content{padding-top:20px; padding-right:20px; padding-left:20px; padding-bottom:350px;
		color:#5D2123;
		margin-left:100px;
		}
		
#contentmain{padding-top:20px; padding-bottom:20px; padding-right:20px; padding-left:20px; width:100%;
		}

.chart{margin-left:140px;}

h1, h2{padding-bottom:10px; padding-top:20px;}

h1{font-size:26px; padding-left:125px;}
h2{font-size:36px; color:#b9b309; padding-left:110px;}

#text p{padding-left:125px;}

#mainnav{
		text-align:center;
		width:100%;
		padding-top:7px;
		padding-bottom:7px;
		margin-left:auto;
		margin-right:auto;
		background-color:#5D2123;
		border-top:medium solid #BAB408;
		border-bottom:medium solid #BAB408;
		font-size:14px;
		}
		
#mainnav a{
	color:#FEF8D6;
	text-decoration:none;
	font-family:Tahoma, Geneva, sans-serif;
	padding-right:1.5em;
	padding-left:1.5em;
	}
		
#nav{position:relative;
	float:left;
	width:220px;
	margin-bottom:0px;
	padding-bottom:0px;
	position:relative;
	padding-top:100px;}

ul.dropdown{text-decoration:none;
	text-align:left;
	padding-right:2px;
	padding-left:30px;
	list-style-type:none;}
	
ul.dropdown li{list-style-type:none;
			font-size: 14px;
			font-style: normal;
			line-height: normal;
			font-variant:normal;
			text-transform: none;
			text-decoration: none;
			margin-bottom:10px;
			font-weight:bold;
			color:#5D2123;}
			
ul.dropdown ul{padding-left:15px;
			}
			
ul.dropdown ul li{padding-top:2px;
			margin-bottom:0px;
			font-weight:normal;
			}

ul.dropdown li:hover ul li{list-style-image:none;}

#picture{border:medium #5D2123 solid; width:450px; height:300px; margin-bottom:15px; margin-left:15px; padding-right:0px; padding-left:0px; border-radius:10px; background-image:url(images/ourstore/ourstore1.jpg); background-repeat:no-repeat; float:right;}

#slideshow{ width:94%;  margin-left:.5%; background-image:none; background-repeat:no-repeat; border:none; border-radius:10px; overflow:hidden;}

#slideshow img { position:absolute; left:0; top:0; border-radius:7px;}

#homelinks{min-height:0px; width:98.5%; height:14em; margin-right:auto; margin-left:auto; margin-top:0px; }
#homelinks p{font-size:11px;}
.newwords, .productswords, .tipswords, .specialswords{width:88%; position:absolute;  margin-left:6%; vertical-align:bottom;}
#homenew, #homeproducts, #hometips, #homespecials{width:21%; height:100%; background-color:#fef8d6; float:left; padding-top:5px; background-image:url(images/homelinks.png); background-repeat:no-repeat; background-size:contain; background-position:top center; border:none; outline:0px; margin-bottom:10px;}
#homenew{min-height:0px; margin-right:1.9%;}
#homeproducts{min-height:0px; margin-right:1.9%; margin-left:1.9%;}
#hometips{min-height:0px; margin-right:1.9%; margin-left:1.9%;}
#homespecials{min-height:0px; margin-left:1.9%;}
#homenewinner, #homeproductsinner, #hometipsinner, #homespecialsinner{min-height:0px; background-image:url(images/homelinksinner.png); background-repeat:no-repeat; background-size:contain; background-position:top center; width:90%; height:97%;  margin-right:0px; margin-left:5.5%; padding-right:0px; padding-left:0px; margin-top:5px; padding-top:1px; color:#5D2123; text-align:center; position:relative;}
#tipspic, #productpic, #specialspic, #newpic{min-height:0px; width:94%; height:44%; border-radius:7px;   margin-right:0px; margin-left:3%; padding-right:0px; padding-left:0px;  margin-bottom:3px; border:none; outline:0px; background-size:contain; background-position:top center;}
h3 a{font-size:80%; }

/*#homelinks{min-height:0px; width:125%; height:100%; margin-right:auto; margin-left:auto; margin-top:-10%; position:relative;}

#homelinks p{font-size:10px;}

#homenew, #homeproducts, #hometips, #homespecials{width:17%; height:100%; background-color:#fef8d6; float:left; padding-top:5px; background-image:url(images/homelinks.png); background-size:contain; background-repeat:no-repeat; position:relative;}

#homenew{min-height:0px; margin-right:11px;}

#homeproducts{min-height:0px; margin-right:11px; margin-left:11px;}

#hometips{min-height:0px; margin-right:11px; margin-left:11px;}

#homespecials{min-height:0px; margin-left:11px; margin-right:0px;}

#homenewinner, #homeproductsinner, #hometipsinner, #homespecialsinner{min-height:0px; background-image:url(images/homelinksinner.png); background-repeat:no-repeat; width:85%; height:15%; margin-left:7px; margin-top:5px; margin-bottom:7px; padding-top:1px; padding-bottom:0px; padding-right:5px; color:#5D2123; text-align:center; background-size:contain; position:relative;}


#tipspic, #productpic, #specialspic, #newpic{min-height:0px; width:96%; height:48.5%; border-radius:7px; margin:5px; margin-bottom:3px; background-size:contain; background-repeat:no-repeat;}

h3 a{font-size:70%; text-align:center; color:#5D2123;}*/

#contact{text-align:center;}

#recipepic{float:right;}

.ingredients ul{margin-left:25px;}

.salepics{float:left; padding:5px; margin:5px; text-align:center; font-weight:bold;}

.salepicsouter{width:600px; height:600px; margin-left:230px;}

.salespicsoutersmall{width:600px; height:300px; margin-left:230px;}

#footer{clear:both;
	color: #FEF8D6;
	background-color: #5D2123;
	padding:7px;
	text-align:center;
	font-size:11px;
	
	}

#footer a{text-decoration:none;
		color:#FEF8D6;
		}
		
#footer a:hover{text-decoration:underline;}

h4 a:hover{text-decoration:underline;}

.cutup{float:left;}
}

